.calc{
  padding: 36px 0;
  width: 629px;
  margin: 0 auto;
  &__title {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    width: 629px;
  }
  &__events {
    display: flex;
    flex-wrap: wrap;
    width: 62px;
    gap: 12px;
  }
  &__number {
    width: 135px;
    height: 35px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #D7D7D7;
    box-shadow: 3px 3px 0px 0px #00000040;
    font-size: 12px;
    color: #7e7e7e;
    appearance: none;
  }
  &__button {
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #000000;
    box-shadow: 3px 3px 0px 0px #00000040;
    font-size: 12px;
    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms, color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms;
    &:hover {
      color: black;
      background-color: white;
    }
  }
  &__equals {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    background-color: #000000;
    box-shadow: 3px 3px 0px 0px #00000040;
    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms, color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms;
    &:hover{
      color: black;
      background-color: white;
    }
  }
  &__result {
    border-radius: 20px;
    padding: 10px 20px;
    width: 118px;
    height: 35px;
    background: #d7d7d7;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
  }
}