.header {
  background-color: #FFFFFF;
&__section{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1090px;
}
&__list{
  display: flex;
  margin-left: 81px;
  gap: 50px;
  min-width: 370px;
}
&__text{
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
&__call{
  display: flex;
  margin-left: 361px;
  align-items: center;
}
&__switcher{
width: 40px;
height: 20px;
border-radius: 11px;
border: 1px;
background-color: #7A7A7A;
margin-right: 51px;
}
&__icon{
  width: 40px;
  height: 20px;
}
&__greeter{
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
}