<section class="calc" id="4">
  <div class="border"></div>
  <h3 class="calc__title">Калькулятор</h3>
  <ul class="calc__list">
    <li class="calc__item">
      <input class="calc__number" type="number" placeholder="Введіть число" data-input="1">
    </li>
    <li class="calc__item">
      <ul class="calc__events">
        <li class="calc__event">
          <button class="calc__button" id="button1">-</button>
        </li>
        <li class="calc__event">
          <button class="calc__button" id="button2">+</button>
        </li>
        <li class="calc__event">
          <button class="calc__button" id="button3">*</button>
        </li>
        <li class="calc__event">
          <button class="calc__button" id="button4">/</button>
        </li>
      </ul>
    </li>
    <li class="calc__item">
      <input class="calc__number" type="number" placeholder="Введіть число" data-input="2">
    </li>
    <li class="calc__item">
      <button class="calc__equals">=</button>
    </li>
    <li>
      <p class="calc__result">Результат</p>
    </li>
  </ul>
</section>