<section class="section__calc">
  <div class="box__calc">
    <h3 class="title__calc">Калькулятор</h3>
    <ul class="list__calc">
      <li class="item_calc">
        <input class="input__calc" type="text" placeholder="Введіть число" />
      </li>
      <li class="item__calc">
        <button class="button__calc">+</button>
      </li>
      <li class="item__calc">
        <button class="button__calc">-</button>
      </li>
      <li class="item__calc">
        <button class="button__calc">*</button>
      </li>
      <li class="item__calc">
        <button class="button_calc">/</button>
      </li>
      <li class="item__calc">
        <input class="answer__calc" type="text" placeholder="Введіть число" />
      </li>
      <li class="item__calc">
        <button class="button-answer__calc">=</button>
      </li>
      <li class="item_calc">
        <input class="equals__calc" type="none" placeholder="Результат"/>
      </li>
    </ul>
  </div>
</section>
