<section class="info__section">
  <div class="info__box">
    <h3 class="info__title">Обери вченого/их</h3>
    <ul class="info__list">
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
      <li class="info__items">
        <img class="info__img" src="">
      </li>
    </ul>
    <ul class="info__question">
      <li class="info__answers">
        <span class="info__answer">Які вчені народилися в 19 ст.</span>
      </li>
      <li class="info__answers">
        <span class="info__answer">Відсортувати вчених за алфавітом.</span>
      </li>
      <li class="info__answers">
        <span class="info__answer">Відсортувати вчених за кількістю прожитих років.</span>
      </li>
      <li class="info__answers">
        <span class="info__answer">Знайти вченого, який народився найпізніше.</span>
      </li>
      <li class="info__answers">
        <span class="info__answer">Знайти рік народження Albert Einshtein.</span>
      </li>
      <li class="info__answers">
        <span class="info__answer">Знайти вчених, прізвища яких починаються на на літеру “С” .</span>
      </li>
      <li class="info__answers">
        <span class="info__answer">Видалити всіх вчених, ім’я яких починається на “А”.</span>
      </li>
      <li class="info__answers">
        <span class="info__answer">Знайти вченого, який прожив найдовше і вченого, який прожив найменше.</span>
      </li>
    </ul>
    <span class="info__questions">1. Знайти вчених, в яких співпадають перші літери імені і прізвища</span>
  </div>
</section>