<footer class="footer" id="footer">
  <section class="footer__section">
    <div class="logo">
      <img src="../src/images/symbol.svg#img" class="logo__img">
      <ul class="logo__magician">
        <p class="logo__code">Coding</p>
        <p class="logo__magic">Magic</p>
      </ul>
    </div>
    <ul>
      <p class="footer__information">Тел: +38 (123) 456 78 90</p>
      <p class="footer__information">E-Mail: codingmagic@gmail.com</p>
      <p class="footer__information">Facebook: CodingMagic</p>
      <p class="footer__information">Twitter: CodingMagic</p>
      <p class="footer__information">Instagram: CodingMagic</p>
    </ul>
    <form class="footer__form">
      <ul class="footer__subs">
        <li class="footer__tools">
          <input class="footer__inputer" type="email" placeholder="Ваша ел. адреса..." required>
        </li>
        <li class="footer__tools">
          <button class="footer__subscribe" type="submit">Підписатися</button>
        </li>
        <li class="footer__tell">
          <p class="footer__text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
        </li>
      </ul>
    </form>
  </section>
</footer>
