<footer class="footer">
  <section class="footer__section">
    <img class="footer__img">
    <p class="footer__information">Тел: +38 (123) 456 78 90 E-Mail: codingmagic@gmail.com Facebook: CodingMagic Twitter: CodingMagic Instagram: CodingMagic</p>
    <ul class="footer__list">
      <li class="footer__item">
        <input type="text" placeholder="Ваша ел. адреса...">
      </li>
      <li class="footer__item">
        <button class="footer__subscribe"></button>
      </li>
      <li class="footer__item">
        <p class="footer__text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
      </li>
    </ul>
  </section>
</footer>
