<section class="gallery__section">
  <div class="gallery__box">
    <h3 class="gallery__title">
      Наша команда
    </h3>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img class="gallery__image" src="">
      </li>
      <li class="gallery__item">
        <img class="gallery__image" src="">
      </li>
      <li class="gallery__item">
        <img class="gallery__image" src="">
      </li>
      <li class="gallery__item">
        <img class="gallery__image" src="">
      </li>
      <li class="gallery__item">
        <img class="gallery__image" src="">
      </li>
      <li class="gallery__item">
        <img class="gallery__image" src="">
      </li>
    </ul>
    <p class="gallery__text">Ім’я студента</p>
    <p class="gallery__info">Інформація про роботу, яку він/вона виконав/ла</p>
  </div>
</section>