<header class="header">
  <section class="header__section">
    <img src="../src/images/symbol.svg#img" class="header__img">
    <ul class="header__magician">
      <p class="header__code">Coding</p>
      <p class="header__magic">Magic</p>
    </ul>
    <ul class="header__list">
      <li class="header__item">
        <span class="header__text">Інтерактив v</span>
      </li>
      <li class="header__item">
        <p class="header__text">Наша команда</p>
      </li>
      <li class="header__item">
        <p class="header__text">Контакти</p>
      </li>
    </ul>
    <ul class="header__call">
      <li class="header__switch">
        <button class="header__switcher">
          <svg src="../images/symbol.svg#sun" class="header__icon"></svg>
        </button>
      </li>
      <li>
        <p class="header__greeter">Вітаємо, User!</p>
      </li>
    </ul>
  </section>
</header>
