<header class="header">
  <section class="header__section">
    <img src="" class="header__image">
    <ul>
      <li class="header__items">
        <span class="header__interactive">Інтерактив</span>
      </li>
      <li class="header__items">
        <p class="header__team">Наша команда</p>
      </li>
      <li class="header__items">
        <p class="header__contacts">онтакти</p>
      </li>
    </ul>
    <ul class="header__user">
      <li class="header__font">
        <button class="header__changeFont">
          <div class="header__circle"></div>
        </button>
      </li>
      <li class="header__user">
        <p class="header__text">Вітаємо, User!</p>
      </li>
    </ul>
  </section>
</header>