<header class="header">
  <section class="header__section">
    <div class="logo">
      <img src="../src/images/symbol.svg#img" class="logo__img">
      <ul class="logo__magician">
        <p class="logo__code">Coding</p>
        <p class="logo__magic">Magic</p>
      </ul>
    </div>
    <ul class="header__list">
      <li class="header__item">
        <p class="header__text">Інтерактив v</p>
      </li>
      <li class="header__item">
        <p class="header__text">Наша команда</p>
      </li>
      <li class="header__item">
        <p class="header__text">Контакти</p>
      </li>
    </ul>
    <ul class="header__call">
      <li class="header__switch">
        <button class="header__switcher">
          <div class="header__icon">
            <img src="./images/sun.png" alt="sun" class="header__img" data-sun>
            <img src="./images/moon.png" alt="sun" class="header__img" data-moon>
          </div>
        </button>
      </li>
      <li>
        <p class="header__greeter">Вітаємо, User!</p>
      </li>
    </ul>
  </section>
</header>
