<section class="max__section">
  <div class="max__box">
    <h3 class="max__title">
      Введіть 3 числа
    </h3>
    <ul class="max__list">
      <li class="max__items">
        <input class="max__input" type="text" placeholder="Введіть число">
      </li>
      <li class="max__items">
        <input class="max__input" type="text" placeholder="Введіть число">
      </li>
      <li class="max__items">
        <input class="max__input" type="text" placeholder="Введіть число">
      </li>
    </ul>
    <p class="max__answer">Найбільше число, яке ви ввели - (число)</p>
  </div>
</section>