<section class="max__section">
    <div class="container">
        <div class="line__prs"></div>
    <h1 class="number__title">Введіть три числа</h1>
    <ul class="num__list">
        <input class="num__calculator" type="text" placeholder="Введіть число" id="one-input">
        <input class="num__calculator" type="text" placeholder="Введіть число" id="two-input">
        <input class="num__calculator" type="text" placeholder="Введіть число" id="three-input">
    </ul>
    <p class="number__text" id="time-result">Найбільше число, яке ви ввели -</p>
    </div>
</section>