<section class="ro-sc-pa__section">
  <div class="ro-sc-pa__box">
    <h3 class="ro-sc-pa__title">Камінь - ножиці - папір</h3>
    <ul class="ro-sc-pa__list">
      <li class="ro-sc-pa__item">
        <button class="ro-sc-pa__button"></button>
      </li>
      <li class="ro-sc-pa__item">
        <button class="ro-sc-pa__button"></button>
      </li>
      <li class="ro-sc-pa__item">
        <button class="ro-sc-pa__button"></button>
      </li>
    </ul>
    <p class="ro-sc-pa__counter">Рахунок: Комп’ютер - 0 Ви - 0</p>
    <p class="ro-sc-pa__text">Ви виграли раунд!</p>
    <button class="ro-sc-pa__buttonPicker">Варіант комп’ютера</button>
  </div>
</section>