<div class="overlay is-hidden" data-modal-subscribe>
    <section class="subscribe-modal__section">
        <but class="subscribe-modal__close" data-modal-close>
            <svg width="15" height="15" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black" />
            </svg>
        </but>
        <h3 class="subscribe-modal__info">
            Дякую за підписку!
        </h3>
        <img src="./images/sword.png" alt="sword" class="subscribe-modal__img sword__img">
        <img src="./images/puzzle.png" alt="puzzle" class="subscribe-modal__img puzzle__img">
        <img src="./images/tic-tac-toe.png" alt="ttt" class="subscribe-modal__img ttt__img">
        <img src="./images/game.png" alt="game" class="subscribe-modal__img game__img">
    </section>
</div>