<div class="backdrop is-hidden" data-modal-welcome>
    <section class="welcome-modal__section">
        <but class="welcome-modal__close" data-modal-close>
            <svg width="15" height="15" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black" />
            </svg>
        </but>
        <p class="welcome-modal__info">
            Привіт! <br>
            Ви потрапили на сайт інтерактивних ігор та завдань <br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br>
            Бажаємо Вам гарно провести час!
        </p>
        <p class="welcome-modal__label">Введіть своє ім’я:</p>
        <input type="text" class="welcome-modal__input" placeholder="Ваше ім’я...">
        <button type="button" class="welcome-modal__but">Зберегти</button>
        <img src="./images/sword.png" alt="sword" class="welcome-modal__img sword__img">
        <img src="./images/puzzle.png" alt="puzzle" class="welcome-modal__img puzzle__img">
        <img src="./images/tic-tac-toe.png" alt="ttt" class="welcome-modal__img ttt__img">
        <img src="./images/game.png" alt="game" class="welcome-modal__img game__img">
    </section>
</div>